# Root
node_modules/
.DS_Store
*.log
.env
.env.stack
.env.local
.env.*.local

# Next.js
admin_ui/.next/
admin_ui/out/
admin_ui/node_modules/

# postgres-meta
db_layer_api/node_modules/
db_layer_api/dist/
db_layer_api/coverage/
db_layer_api/tsconfig.tsbuildinfo
db_layer_api/openapi.json
